---
title: Elevators
---

<h1>Elevators</h1>

<p>Press a number (0-7) to go to that floor</p>

<canvas id="elevators" width="500" height="500" style="border-style:solid">
<canvas>

<script>
  ctrl = new SystemController
  ctrl.start()
</script>
